@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
  @apply dark:bg-neutral-900/80;
}

.hidden-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hidden-scrollbar::-webkit-scrollbar {
  display: none;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 226.7 12.7% 13.9%;
    --foreground: 210 40% 98%;

    --card: 226.7 12.7% 13.9%;
    --card-foreground: 210 40% 98%;

    --popover: 226.7 12.7% 13.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 226.7 12.7% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 226.7 12.7% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 226.7 12.7% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0deg 84.07% 55.51%;
    --destructive-foreground: 210 40% 98%;

    --border: 226.7 12.7% 17.5%;
    --input: 226.7 12.7% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }

  * {
    @apply border-border;
  }

  :is(.dark html),
  :is(.dark body),
  :is(.dark :root) {
    @apply !bg-bgDark;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .bgImage {
    @apply bg-[url(http://localhost:3000/assets/img/bg.jpg)] bg-center bg-fixed bg-no-repeat bg-cover bg-black/60 bg-blend-multiply;
  }
}

button[aria-label="Previous"],
button[aria-label="Rewind"],
button[aria-label="Play"],
button[aria-label="Pause"],
button[aria-label="Forward"],
button[aria-label="Skip"] {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  width: 2.5rem !important;
  height: 2.5rem !important;
  border-radius: 4px !important;
  color: #ffffff !important;
  background: transparent !important;
  border: none !important;
  padding: 0 !important;
  overflow: hidden !important;
  cursor: pointer !important;
}

button[aria-label="Play"],
button[aria-label="Pause"] {
  background: rgb(37 99 235 /1) !important;
  width: 3rem !important;
  height: 3rem !important;
}

button[aria-label="Previous"]:hover,
button[aria-label="Rewind"]:hover,
button[aria-label="Play"]:hover,
button[aria-label="Pause"]:hover,
button[aria-label="Forward"]:hover,
button[aria-label="Skip"]:hover {
  background: hsl(226.7 12.7% 17.5%) !important;
}

.spin200 {
  animation: spin 20s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
